<p-dialog [(visible)]="displayPanelAdd" [modal]="true" [responsive]="true" [width]="420" [minWidth]="250">
  <p-header>
    Adicionar Articulo
  </p-header>
  <form [formGroup]="validateArticle" #formArt="ngForm">
    <div class="text-center">
      <label>Ingrese la cantidad que desea llevar</label>
      <div>
        <p-spinner [max]="articulo.cantidadMax" [min]="0" size="5" [(ngModel)]="articulo.cantidadActual" formControlName="cantidad"
          required></p-spinner>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 text-center border-right">
          <p>Cantidad Disponible</p>
          <div class="row">
            <div class="col-12">
              <label class="border rounded border-white w-25 text-white" [ngClass]="((articulo.cantidadMax - articulo.cantidadActual) > articulo.cantidadMax) ? 'bg-danger': 'bg-success' "
                style="box-shadow: 1px 2px #888888;">{{ (articulo.cantidadMax - articulo.cantidadActual) }}</label>
                <span> de </span>
                <label class="border rounded border-white w-25 text-white bg-info"
                    style="box-shadow: 1px 2px #888888;">{{ articulo.cantidadMax }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center border-left">
          <p>Cantidad Actual</p>
          <label class="border rounded border-white w-25 text-white" [ngClass]="((articulo.cantidadMax - articulo.cantidadActual) > articulo.cantidadMax) ? 'bg-danger': 'bg-primary' "
            style="background-color: #d6d8d9; box-shadow: 1px 2px #888888;">{{ articulo.cantidadActual }}</label>
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <button type="button" class="btn btn-danger" (click)="closePanelAdd()">Cerrar</button>
    <button type="button" class="btn btn-primary" [disabled]="validateArticle.invalid" [routerLink]="['/shopping']" (click)="adicionarArticulo()">Guardar</button>
  </p-footer>

</p-dialog>
