<div class="lightSpeedIn animated">
  <button router-link="home">Volver</button>
  <h1 class="text-center">Articulos</h1>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Unidad</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Valoración</th>
        <th scope="col">Adicionar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let artl of articles">
        <th scope="row">{{ artl.idArticulo }}</th>
        <td>{{ artl.nombre }}</td>
        <td class="text-center">{{ artl.unidadMedida }}</td>
        <td class="text-center">{{ artl.cantidadMax }}</td>
        <td class="text-center">{{ artl.valoracion }}</td>
        <td class="text-center">
          <button style="background-color: transparent; border: none;">
            <img style="width: 35px;" src="http://www.iconesbr.net/iconesbr/2009/07/8390/8390_256x256.png" data-toggle="modal" data-target="#modal-add-article"
            />
          </button>
        </td>
      </tr>
    </tbody>
  </table>


  <!-- Modal -->
  <div class="modal fade" id="modal-add-article" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Adicionar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Ingrese la cantidad que desea comprar</label>
          <input>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
