<div class="pulse animated">
  <a href="#" routerLink="/home" style="font-size: 25px;">
    <i class="fas fa-arrow-circle-left"></i> Capitulos</a>
  <h1 class="text-center">Articulos</h1>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Unidad</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Valoración</th>
        <th scope="col">Adicionar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let artl of articles">
        <th scope="row">{{ artl.idArticulo }}</th>
        <td>{{ artl.nombre }}</td>
        <td>{{ artl.unidadMedida }}</td>
        <td>{{ artl.cantidadMax }}</td>
        <td>{{ artl.valoracion }}</td>
        <td>
          <button style="background-color: transparent; border: none; cursor: pointer;" (click)="seleccionarArticulo(artl)">
            <i class="fas fa-cart-arrow-down fa-2x"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-panel-add-article [openPanelAdd]="articuloSeleccionado" *ngIf="articuloSeleccionado"></app-panel-add-article>
